<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
					<%= image_tag "vinny.png", :height => "200px;"%>
					<br><br>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">To Do</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
							<li class="divider"></li>
              <li class="nav-header">Forms</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
							<li class="divider"></li>
              <li class="nav-header">Feeds</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>To Do</h1><br>
            <p style="float:left">Boh Suit -> Client</p>
						<p>annual meat due <b>Dec. 2</b></p>
						<p>answer filed Oct. 2</p>
						<p>Court at 2pm 11/2/12</p>
						<p>email sent <a>view email here</a>
						
            
          </div>
				</div>
			</div>
</div>