<%= render 'layouts/user_header' %>
<div class="container">
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
					<%= image_tag "vinny.png", :height => "200px;"%>
					<br><br>
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Partners</li>
              <li class="active"><b>Online</b></li>
              <li><a href="#">
								<%= image_tag "online.png" %>Mona Lisa Vito
							</a></li>
							<br>
              <li><b>Offline</b></li>
              <li><a href="#">
									<%= image_tag "offline.png" %>Joe Blow
								</a></li>
							<li class="divider"></li>
              <li class="nav-header">Forms</li>
              <li><a href="#">Real Estate Transaction</a></li>
              <li><a href="#">Will</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
							<li class="divider"></li>
              <li class="nav-header">Feeds</li>
              <li><a href="#">Supreme Court</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


        <div class="span9">
          <div class="hero-unit">
            <h1>Action List</h1><br><br><br>
            <p class="lead" style="text-decoration:underline"><b>Boh Suit -> Client</b></p>

						<table class="table table-striped table-hover">
							<thead>
						    <tr>
						      <th>#</th>
						      <th>item</th>
									<th>date</th>
									<th>status</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>1</td>
						      <td>annual meet</td>
									<td>due Dec. 2</td>
									<td>Not completed</td>
						    </tr>
							 <tr>
						      <td>2</td>
						      <td>thingy filed</td>
									<td>on Oct. 2</td>
									<td>view here</td>
						    </tr>
								<tr>
						      <td>3</td>
						      <td>Court hearing</td>
									<td>Jan. 12th, 2013</td>
									<td>view calendar</td>
						    </tr>
								<tr>
						      <td>4</td>
						      <td>Email from Joe Blow</td>
									<td>Yesterday, 9:22pm</td>
									<td>view here</td>
							   </tr>
						  </tbody>
					  </table>
					
						<table class="table table-striped table-hover">
							<thead>
						    <tr>
						      <th>#</th>
						      <th>item</th>
									<th>date</th>
									<th>status</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="error">
						      <td>1</td>
						      <td>annual meet</td>
									<td>due Dec. 2</td>
									<td><a>Not completed</a></td>
						    </tr>
							 <tr class="info">
						      <td>2</td>
						      <td>thingy filed</td>
									<td>on Oct. 2</td>
									<td><a>view here</a></td>
						    </tr>
								<tr class="warning">
						      <td>3</td>
						      <td>Court hearing</td>
									<td>Jan. 12th, 2013</td>
									<td><a>view calendar</a></td>
						    </tr>
								<tr class="success">
						      <td>4</td>
						      <td>Email from Joe Blow</td>
									<td>Yesterday, 9:22pm</td>
									<td><a>view here</a></td>
							   </tr>
						  </tbody>
					  </table>
							
							
							<p>annual meet due <b style="color:green">Dec. 2</b></p>
							<p>answer filed <b style="color:green">Oct. 1</b></p>
							<p>Court at 2pm 11/2/12</p>
							<p><a>Bill Gambini</a> sent you an email<a> view email here</a></p>
						
						
            
          </div>
				</div>
			</div>
</div>