    <%= render 'layouts/header' %>
<div class="container">
<div class="center hero-unit">
  <h1>Welcome to Legal Note</h1>

  <h2>The #1 Legal CRM App</h2>

  <%= link_to "Sign up now!", demo_path, class: "btn btn-large btn-primary" %>
</div>

      <!-- Example row of columns -->
      <div class="row">
        <div id="no" class="span4">
          <h4>No Hardware</h4>
					<h4>No Software</h4>
					<h4>No Problem</h4>
        </div>
        <div id="cloud" class="span3 offset1">
          <h3>Cloud Based</h3>
          <p class="lead">Bring your small/solo practice into the 21st century </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div id="man" class="span3 offset1">
          <h3>Manoeuvrability</h3>
          <p class="lead">Trust your practice to move with you wherever you are</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

<br/><br/>
<%= link_to image_tag("law.png", alt: "Law"), '#' %>
<br/><br/>


