<div class="center hero-unit">
  <h1>Welcome to Legal Note</h1>

  <h2>
    Distinction Ye Hai!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("law.png", alt: "Law"), '#' %>